@charset "utf-8";
.main {
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
	min-height: 650px;
}

table th {
	background-color: #DDDDDD;
}

table th,
table td {
	text-align: center !important;
}

.text-title span {
	font-size: 18px;
}

textarea {
	width: 100%;
}

.text-title {
	line-height: 40px;
}
#myModal{
	display: none;
}
.yinc {
	display: none;
}
