@charset "UTF-8";

p.text-center{
    text-align:center;
    font-size:20px !important;
    padding: 30px 0;
}
/*.text-left{*/
    /*width: 50% !important;*/
    /*display: block;*/
    /*min-width: 1000px;*/
    /*background-color: rgba(245,244,241,0.1);*/
    /*border: 1px solid #fff;*/
    /*min-height: 390px;*/
    /*box-shadow: 1px 0px 2px;*/
    /*margin: 0 auto !important;*/
    /*margin-bottom: 22px !important;*/
/*}*/
p{
    width:50% !important;
    min-width: 1000px;
    margin:auto !important;
}


