
body{
    /*padding: 15px;*/
}
.span-item{
    margin-left:0!important; 
    position:relative;
}
.span-item p{ 
    padding-bottom:4px;
    /*margin: 5px 0;*/
}
.span-item p input{
    margin-right:4px;
}
.span-item p select{
    margin-right:4px;
}
.span-item label.t{ 
    min-width:80px;
}
.span-item .del{ 
    /*display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 56px;
    color: #fff; */
    position:absolute; 
    right:0; 
    top:0;
    /*background: #d9534f;
    cursor: pointer;*/
}
.timeout ul{ 
    border:1px solid #ccc;
    padding:0 16px;
}
.timeout ul li{
    padding:12px 0;
}
.timeout .f-label{ 
    padding:12px 0;
    /*width: 30%;*/
}
.f-input{
    /*width: 68%;*/
    /*min-width: 300px;*/
}
.time-label{ 
    display:inline-block; 
    padding-right:16px;
    border-right:1px solid #ccc;
    margin-right:16px;
}
/*.btn-brown{
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: #5d4037;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.btn-blue{
    display: inline-block;
    border: none;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background: #3276b1;
    text-align: center;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}
.btn-red{
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    background: #d9534f;
    text-align: center;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
}*/