@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
table, caption, tbody, tfoot, thead, tr, th, td{ vertical-align:middle;}
html{margin-top:0px !important;}

body {line-height: 1;background: #f1f1f1;  font-size:14px; color: #4F4F4F;font-family: 'microsoft yahei',osaka,sans-serif;}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {display: block;}

ul{list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}

a {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;background: transparent; text-decoration:none;}

ins {background-color: #ff9;color: #000;text-decoration: none;}

mark {background-color: #ff9;color: #000; font-style: italic;font-weight: bold;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000;cursor: help;}

table {border-collapse: collapse;border-spacing: 0;}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #cccccc;margin: 1em 0;padding: 0;}

input, select {vertical-align: middle;}

strong{font-weight: bold;}

h1,h2,h3,h4,h5,h6{ color:#999; padding:10px 0;}
/*
 * common 通用class
 */

*::-moz-selection {
    background: none repeat scroll 0 0 #333;
    color: #FFFFFF;
		font-weight:bold

}
::selection {
    background: none repeat scroll 0 0 #333;
    color: #FFFFFF;
	font-weight:bold
}

.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";line-height: 0;}
.clearfix:after {clear: both;}
.clr{ clear:both;}

.text-right{ text-align:right;}
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-bold{ font-weight:bold;}
.text-overflow{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/*layout*/
.hidden{display:none;}
.fl{ float:left!important;}
.fr{ float:right!important;}
.dfColor{ color:#2d3e50!important;}
.green{color:#337ab7!important;}
/*.green{color:#47a447!important;}*/
.red{color:red!important;}
.orange{color:#ff9100!important;}
.blue{ color:#47a447!important;}
/*.blue{ color:#337ab7!important;}*/
.sky{color:#39b3d7!important;}
.gray{ color:#999!important;}
.h-0{ height:0!important;}
.h-10{ height:10px!important}
.h-20{ height:20px!important}
.h-30{ height:30px!important}
.h-40{ height:40px!important}
.h-50{ height:50px!important}
.h-60{ height:60px!important}
.h-70{ height:70px!important}
.h-80{ height:80px!important}
.h-90{ height:90px!important}
.h-100{ height:100px!important}
.w-0{ width:0px!important}
.w-10{ width:10px!important}
.w-20{ width:20px!important}
.w-30{ width:30px!important}
.w-40{ width:40px!important}
.w-50{ width:50px!important}
.w-60{ width:60px!important}
.w-70{ width:70px!important}
.w-80{ width:80px!important}
.w-90{ width:90px!important}
.w-100{ width:100px!important}
.w-110{ width:110px!important}
.w-120{ width:120px!important}
.w-130{ width:130px!important}
.w-140{ width:140px!important}
.w-150{ width:150px!important}
.w-180{ width:180px!important}
.w-200{ width:200px!important}
.w-250{ width:250px!important}
.w-300{ width:300px!important}
.w-350{ width:350px!important}
.w-400{ width:400px!important}
.w-450{ width:450px!important}
.w-500{ width:500px!important}
.w-550{ width:550px!important}
.w-600{ width:600px!important}
.w-650{ width:650px!important}
.w-700{ width:700px!important}
.w-750{ width:750px!important}
.w-800{ width:800px!important}
.w-850{ width:850px!important}
.w-900{ width:900px!important}
.w-950{ width:950px!important}
.w-1000{ width:1000px!important}
.padding-0{ padding:0!important;}
.padding-5{ padding:5px!important;;}
.padding-10{ padding:10px!important;;}
.padding-15{ padding:15px!important;;}
.padding-20{ padding:20px!important;;}
.padding-25{ padding:25px!important;;}
.padding-30{ padding:30px!important;;}
.margin-0{ margin:0!important;}
.margin-left0{margin-left:0!important;}
.margin-right0{margin-right:0!important;}
.margin-5{ margin:5px!important;;}
.margin-10{ margin:10px!important;;}
.margin-15{ margin:15px!important;;}
.margin-20{ margin:20px!important;;}
.margin-25{ margin:25px!important;;}
.margin-30{ margin:30px!important;;}

.text{ color:#666; font-weight:normal;}
.link:hover{ text-decoration:underline; cursor:pointer;}
.link:active{ text-decoration:underline; opacity:.7; filter:alpha(opacity=70); cursor:pointer;}

/*栅格布局*/
.row-fluid {width: 100%;*zoom: 1; padding:4px 0;
-webkit-box-sizing: border-box;   -moz-box-sizing: border-box;        box-sizing: border-box;}
.row-fluid:before,
.row-fluid:after {display: table;line-height: 0;content: "";}
.row-fluid:after {clear: both;}
.row-fluid [class*="span"] {display: block;float: left;width: 100%;min-height: 30px;margin-left: 2.127659574468085%;*margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child {margin-left: 0;}
.row-fluid .controls-row [class*="span"] + [class*="span"] {margin-left: 2.127659574468085%;}
.row-fluid .span12 {width: 100%;*width: 99.94680851063829%;margin-left: 0;}
.row-fluid .span11 {width: 91.48936170212765%;*width: 91.43617021276594%;}
.row-fluid .span10 {width: 82.97872340425532%;*width: 82.92553191489361%;}
.row-fluid .span9 {width: 74.46808510638297%;*width: 74.41489361702126%;}
.row-fluid .span8 {width: 65.95744680851064%;*width: 65.90425531914893%;}
.row-fluid .span7 {width: 57.44680851063829%;*width: 57.39361702127659%;}
.row-fluid .span6 {width: 48.93617021276595%;*width: 48.88297872340425%;}
.row-fluid .span5 {width: 40.42553191489362%;*width: 40.37234042553192%;}
.row-fluid .span4 {width: 31.914893617021278%;*width: 31.861702127659576%;}
.row-fluid .span3 {width: 23.404255319148934%;*width: 23.351063829787233%;}
.row-fluid .span2 {width: 14.893617021276595%;*width: 14.840425531914894%;}
.row-fluid .span1 {width: 6.382978723404255%;*width: 6.329787234042553%;}
.row-padding-min{ padding:0;}

/*字体*/
.font-12{ font-size:12px!important;}
.font-14{ font-size:14px!important;}
.font-16{ font-size:16px!important;}
.font-18{ font-size:18px!important;}
.font-20{ font-size:20px!important;}
.font-22{ font-size:22px!important;}
.font-24{ font-size:24px!important;}
.font-26{ font-size:26px!important;}
.font-28{ font-size:28px!important;}
.font-30{ font-size:30px!important;}
.font-32{ font-size:32px!important;}
.font-34{ font-size:34px!important;}
.font-36{ font-size:36px!important;}
.font-38{ font-size:38px!important;}
.font-40{ font-size:40px!important;}


