@charset "UTF-8";
/**
 * 
 * @authors Maunsell (982431279@qq.com)
 * @date    2016-12-14 20:14:04
 * @version $Id$
 */
.icon{
    margin-top: 10px;
    font-size: 0;
}
.icon.rt img{
    width: 18px;
    height: 18px;
    
}

.indexIcon{
    font-family: "HomeIndex" !IMPORTANT;
    font-size: 24px;
    color: #fff;
}

.news,.settings,.signout{
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
.news i.num{
    font-style: normal;
    background: red;
    color: #fff;
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 0.75em;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0;
}
.news a .num{
    display: none;
}
.news_down{
    position: absolute;
    top:42px;
    left:-80px;
    width:130px;
z-index:10000;
background-color:#ECF8E2;

border-radius:3px;
}
.sj{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ECF8E2;
    border-left: 10px solid transparent;
position: absolute;
    top: 32px;
    left: 5px;
}
.news_down a{
    color:#f60;
    display:block;
    line-height:30px;
    text-align: center;
    font-size:14px;
    font-weight:bold;
}
.news_down a span{
    color:red;
    font-size:12px;
}
.rt{
    float: right;
}
.sj,.news_down{
    display:none;
}