@charset "utf-8";
.main{
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
table th{
	background-color: #DDDDDD;
}
table th,table td{
	text-align: center;
}
.text-title span{
	font-size: 18px;
}
textarea{
	width: 100%;
}
.cz{
	margin: 10px 0;
}
#type_tbody td{
	margin: 5px;
}
.yinc{
display: none;
}
.modal{
	display: none;
}
#type_tbody input{
	width: 100%;
	height: 100%;
	border: none;
}
.modal-footer button{
	float: right;
	margin-right: 5px;
}
thead th{
	text-align: center;
}
