@charset "UTF-8";
/**
 * 
 * @authors Maunsell (982431279@qq.com)
 * @date    2016-12-08 18:17:10
 * @version $Id$
 */
body{
    min-width: 980px;
}
.condition{
    width: 150px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}
.condition option{
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}
.pp{
    display: inline-block; 
    font-size:14px;
    margin-left: 20px;
}
.clearfix label{
    display: inline-block;
    width: 250px;
}
.bar-header{
    height: auto;
}
.grade{
	margin-left: -45px;
}
