@charset "utf-8";
thead th,tbody td {
    text-align: center;
}
.mo_body .names {
    width: 80%;
    height: 30px;
    line-height: 30px;
}
.name_list li {
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin: 5px;
}
.modal-body {
    overflow: hidden;
}
#myModal,#myModal2{
    display: none;
}
input#Add_td {
    float: right;
    margin-right: 41px;
}
.kind-name{
    width:120px;
    margin-left: -15px;
}
.item-lay{
    margin-top: 40px;
}
