@charset "UTF-8";
/**
 * 
 * @authors Maunsell (982431279@qq.com)
 * @date    2016-12-10 14:40:25
 * @version $Id$
 */


.noReader{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}


