@charset "UTF-8";
/**
 * 
 * @authors Maunsell (982431279@qq.com)
 * @date    2016-12-07 20:47:21
 * @version $Id$
 */
#sig{
    display: none;
    margin-top: 25px;
}    
#addsig{
    margin-top: 30px;
}
.layui-form{
    padding-bottom: 100px;
}
.cloudDisk{
    width: 114px;
}
.layui-icon{
    cursor: pointer;
    color: red;
}
#Tree .layui-input-inline{
    width: 290px;
}
#Tree li{
    overflow: auto;
}
#Tree #OK{
    padding-left: 25px;
}
#Tree #OK li{
    line-height: 25px;
    position: relative;
}
#Tree #OK li i{
    position: absolute;
    right: 0;
    display: none;
}
#Tree #OK li:hover i{
    display: inline-block;
}
.layui-form-selected dl{
    max-height: 180px;
}


.msgExclusive{
   padding-left: 260px;
}
.selectTime{
    width: 190px;
    display: inline-block;
}
/*滚动条*/
::-webkit-scrollbar  
{  
    width: 6px !important;  
    height: 6px !important; 
    background-color: #F5F5F5 !important;
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 10px !important;
    background-color: #F5F5F5 !important;
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important; 
    background-color: #028843 !important; 
} 
.none{
    display: none;
}