/* 
	CSS reset 
*/
/*#region Public_css*/
html{ color:#3d3d3d; background:#ffffff;}
body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
input,button,textarea,p,blockquote,th,td{ margin:0; padding:0;}
body{ font-size:12px;font-family:"宋体",Arial; line-height:1.2em;}
img{ border:none;}
em,strong{ font-style:normal; font-weight:normal;}
li{ list-style:none;}
table{ border-collapse:collapse; border-spacing:0;}
h1{ font-size:18px;}
h2{ font-size:16px;}
h3{ font-size:14px;}
h4,h5,h6{ font-size:100%;}
q:before,q:after{ content:"";}
button,input,select,textarea{ font-size:100%;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var{font-style:normal;} /* 将斜体扶正 */

/* link */
a{color:#36c;text-decoration:none;}
a:hover{color:#f60;text-decoration:none;}

/* clearFloat */
.clearfix:after{display:block; visibility:hidden; clear:both; content:" "; font-size:0; height:0; line-height:0; }

/*#endregion */