.content{
	width: 60%;
	padding: 40px 20%;
	background: #fff;		
}
.content-infor{
	widows: 76%;
	padding:0 12%;
	font-size: 22px;
	color: #333333;
	background: #f1f1f1;
	padding-bottom: 20px;
}
.content-infor h2{
		height: 110px;
		font-size: 22px;
		line-height: 110px;
		color: #333333;
}
.content-infor p{
	line-height: 44px;
}
.content-infor h3{
	width: 100%;
	margin-top: 40px;
	text-align: right;
	font-size: 22px;
	color: #333333;
}
p{text-indent:2em;}