body,html{
	background: #fafafa;
	font-family: "微软雅黑";
	overflow-x:auto ;
}
.form{
	padding: 0 15%;
}
.form .zy{
	width: 75%;
	background: #e6e6e6;
	padding-left: 25%;
	height: 50px;
}
.form-top{
	margin-top: 30px;
}
.form-top h2{
	font-size: 24px;
	font-weight: 700;
	color: #000;
}
.form-center{
	width: 100%;
	padding:30px 0;
	background: #fefefe;
}
.layui-form-item{
	padding-left: 24%;
	backface-visibility: #fefefe;
	font-size: 18px;
	color: #565656;
}
.layui-form-label{
    width: 155px;
    text-align: left;
}
.layui-input-inline{
	width: 150px;
	height: 35px;
}
#sava{
	width: 170px;
	margin-top: 30px;
}
.btn-div{
	margin:20px 0 0 25%;
}.layui-form-item .btn1{
	width: 200px;
}
.layui-form-item .btn1 input{
	width: 200px;
} 
.btn-div{
	margin:20px 0 0 0;
}
.layui-form-item .layui-input-inline{
	width: 28%;	
}
